<style>
  body {
    font-family: sans-serif;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px red;
  }

  h2 {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
  }

  footer p {
    text-align: center;
  }

  p {
    text-align: justify;
    line-height: 1.6;
  }

  section:nth-of-type(3) p {
    text-transform: capitalize;
  }

  section:nth-of-type(4) p {
    text-shadow: 1px 1px 3px gray;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style-type: upper-roman;
  }

  ul li,
  ol li {
    margin-bottom: 1rem;
  }
</style>